<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>VueJS - Übung 9</title>
        <script src="../vue.js"></script>
        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <div id="app">
            <h1>Unsere Smartphones</h1>
            <ul>
                <li v-for="phone in phones">
                    {{ phone.model }}
                    <small>(Erschienen: {{ phone.year }}, Hersteller: {{ phone.manufacturer }})</small>
                    <span class="offer" v-if="phone.sale">Im Angebot!</span>
                </li>
            </ul>
        </div>
        <script src="app.js"></script>
    </body>
</html>
